.css-o4b71y-MuiAccordionSummary-content {
    margin: 0px !important;
}

.css-kw7vvs-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 30px !important;
}

.css-10evgf8-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0px !important;
}